/* .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #000000;
    color: #fff;
    z-index: 2;
  }

  .heading {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 80px;
    color: #4800ff;
  } */

  .timer {
    margin-top: 80px;
    font-size: 2rem;
    background: rgba(255, 255, 255, 0);
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
  }

