body {
    margin: 0;
    overflow: hidden;
    background: linear-gradient(to bottom, #87CEEB, #00008b);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#snow-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.snowflake {
    position: absolute;
    color: white;
    font-size: 20px;
    opacity: 0.8;
}

.snow-build-up {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: white;
    transition: all 0.1s;
}